<!DOCTYPE html>
<html>
<head>
  <title>Pbbsweb</title>
	<link rel="StyleSheet" href="stylesheets/greyscale.css" type="text/css">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
