<%= form_for(@pbbs_run) do |f| %>
  <% if @pbbs_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pbbs_run.errors.count, "error") %> prohibited this pbbs_run from being saved:</h2>

      <ul>
      <% @pbbs_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
